<table>
    <tr>
        <th align='left' bgcolor='#f57900' colspan=\"5\"><span
                style='background-color: #cc0000; color: #fce94f; font-size: x-large;'>( ! )</span> ReflectionException:
            Class LoungeCompetitor::class does not exist in
            /var/www/html/vendor/nelmio/api-doc-bundle/ModelDescriber/ObjectModelDescriber.php on line <i>52</i></th>
    </tr>
    \n
    <tr>
        <th align='left' bgcolor='#e9b96e' colspan='5'>Call Stack</th>
    </tr>
    \n
    <tr>
        <th align='center' bgcolor='#eeeeec'>#</th>
        <th align='left' bgcolor='#eeeeec'>Time</th>
        <th align='left' bgcolor='#eeeeec'>Memory</th>
        <th align='left' bgcolor='#eeeeec'>Function</th>
        <th align='left' bgcolor='#eeeeec'>Location</th>
    </tr>
    \n
    <tr>
        <td bgcolor='#eeeeec' align='center'>1</td>
        <td bgcolor='#eeeeec' align='center'>0.0000</td>
        <td bgcolor='#eeeeec' align='right'>392224</td>
        <td bgcolor='#eeeeec'>{main}( )</td>
        <td title='/var/www/html/public/index.php' bgcolor='#eeeeec'>.../index.php<b>:</b>0</td>
    </tr>
    \n
    <tr>
        <td bgcolor='#eeeeec' align='center'>2</td>
        <td bgcolor='#eeeeec' align='center'>0.0033</td>
        <td bgcolor='#eeeeec' align='right'>554400</td>
        <td bgcolor='#eeeeec'>App\\Kernel->handle( )</td>
        <td title='/var/www/html/public/index.php' bgcolor='#eeeeec'>.../index.php<b>:</b>25</td>
    </tr>
    \n
    <tr>
        <td bgcolor='#eeeeec' align='center'>3</td>
        <td bgcolor='#eeeeec' align='center'>2.1160</td>
        <td bgcolor='#eeeeec' align='right'>8628560</td>
        <td bgcolor='#eeeeec'>Symfony\\Component\\HttpKernel\\HttpKernel->handle( )</td>
        <td title='/var/www/html/vendor/symfony/http-kernel/Kernel.php' bgcolor='#eeeeec'>.../Kernel.php<b>:</b>198</td>
    </tr>
    \n
    <tr>
        <td bgcolor='#eeeeec' align='center'>4</td>
        <td bgcolor='#eeeeec' align='center'>2.1160</td>
        <td bgcolor='#eeeeec' align='right'>8628976</td>
        <td bgcolor='#eeeeec'>Symfony\\Component\\HttpKernel\\HttpKernel->handleRaw( )</td>
        <td title='/var/www/html/vendor/symfony/http-kernel/HttpKernel.php' bgcolor='#eeeeec'>.../HttpKernel.php<b>:</b>67
        </td>
    </tr>
    \n
    <tr>
        <td bgcolor='#eeeeec' align='center'>5</td>
        <td bgcolor='#eeeeec' align='center'>2.2445</td>
        <td bgcolor='#eeeeec' align='right'>11609584</td>
        <td bgcolor='#eeeeec'>Nelmio\\ApiDocBundle\\Controller\\SwaggerUiController->__invoke( )</td>
        <td title='/var/www/html/vendor/symfony/http-kernel/HttpKernel.php' bgcolor='#eeeeec'>.../HttpKernel.php<b>:</b>150
        </td>
    </tr>
    \n
    <tr>
        <td bgcolor='#eeeeec' align='center'>6</td>
        <td bgcolor='#eeeeec' align='center'>2.2446</td>
        <td bgcolor='#eeeeec' align='right'>11616384</td>
        <td bgcolor='#eeeeec'>Nelmio\\ApiDocBundle\\ApiDocGenerator->generate( )</td>
        <td title='/var/www/html/vendor/nelmio/api-doc-bundle/Controller/SwaggerUiController.php' bgcolor='#eeeeec'>
            .../SwaggerUiController.php<b>:</b>53
        </td>
    </tr>
    \n
    <tr>
        <td bgcolor='#eeeeec' align='center'>7</td>
        <td bgcolor='#eeeeec' align='center'>2.3095</td>
        <td bgcolor='#eeeeec' align='right'>12524376</td>
        <td bgcolor='#eeeeec'>Nelmio\\ApiDocBundle\\Model\\ModelRegistry->registerDefinitions( )</td>
        <td title='/var/www/html/vendor/nelmio/api-doc-bundle/ApiDocGenerator.php' bgcolor='#eeeeec'>
            .../ApiDocGenerator.php<b>:</b>72
        </td>
    </tr>
    \n
    <tr>
        <td bgcolor='#eeeeec' align='center'>8</td>
        <td bgcolor='#eeeeec' align='center'>2.3980</td>
        <td bgcolor='#eeeeec' align='right'>13443632</td>
        <td bgcolor='#eeeeec'>Nelmio\\ApiDocBundle\\ModelDescriber\\ObjectModelDescriber->describe( )</td>
        <td title='/var/www/html/vendor/nelmio/api-doc-bundle/Model/ModelRegistry.php' bgcolor='#eeeeec'>
            .../ModelRegistry.php<b>:</b>95
        </td>
    </tr>
    \n
    <tr>
        <td bgcolor='#eeeeec' align='center'>9</td>
        <td bgcolor='#eeeeec' align='center'>2.3981</td>
        <td bgcolor='#eeeeec' align='right'>13444888</td>
        <td bgcolor='#eeeeec'><a href='http://www.php.net/ReflectionClass.construct' target='_new'>__construct</a>\n( )
        </td>
        <td title='/var/www/html/vendor/nelmio/api-doc-bundle/ModelDescriber/ObjectModelDescriber.php'
            bgcolor='#eeeeec'>.../ObjectModelDescriber.php<b>:</b>52
        </td>
    </tr>
</table>
