{% set currentPage = page|default('home') %}

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" href="{{ path('home') }}">The Grid</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item {% if currentPage == ' admin' %}active{% endif %}">
                    <a class="nav-link" href="{{ path('sonata_admin_dashboard') }}">Admin</a>
                </li>
                <li class="nav-item {% if currentPage == 'home' %}active{% endif %}">
                    <a class="nav-link" href="{{ path('home') }}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item {% if currentPage == 'championship' %}active{% endif %}">
                    <a class="nav-link" href="{{ path('championship_index') }}">Championships</a>
                </li>
                <li class="nav-item {% if currentPage == 'user' %}active{% endif %}">
                    <a class="nav-link" href="{{ path('user_index') }}">Users</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

