<form method="post" class="float-right" action="{{ path('championship_delete', {'id': championship.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ championship.id) }}">
    <button class="btn btn-danger ">Delete</button>
</form>
