{% extends 'base.html.twig' %}
{% block title %}Championships{% endblock %}
{% block navBar %}
    {% include 'navBar/_navbar.html.twig' with {'page': 'championship'} %}
{% endblock %}
{% block body %}
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('home') }}">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Championships</li>
            </ol>
        </nav>
        <div class="card">
            <div class="card-header">
                Championships
                <a class="btn btn-primary btn-sm float-right" href="{{ path('championship_new') }}">+</a>
            </div>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>{{ knp_pagination_sortable(pagination, 'Id', 'c.id') }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'Title', 'c.title') }}</th>
                        <th>Description</th>
                        <th>{{ knp_pagination_sortable(pagination, 'DateCreation', 'c.dateCreation') }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'DateUpdate', 'c.dateUpdate') }}</th>
                        <th>actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for championship in pagination %}
                        <tr class="{{ championship.dateDeleted ? 'table-row-deleted' : '' }}">
                            <td>{{ championship.id }}</td>
                            <td>{{ championship.title }}</td>
                            <td>{{ championship.description|truncate(50) }}</td>
                            <td>{{ championship.dateCreation ? championship.dateCreation|date('Y-m-d H:i:s') : '' }}</td>
                            <td>{{ championship.dateUpdate ? championship.dateUpdate|date('Y-m-d H:i:s') : '' }}</td>
                            <td>
                                {% if championship.dateDeleted == '' %}
                                    <div class="btn-group">
                                        <a class="btn btn-primary btn-sm"
                                           href="{{ path('championship_show', {'id': championship.id}) }}">show</a>
                                        <a class="btn btn-success btn-sm"
                                           href="{{ path('championship_edit', {'id': championship.id}) }}">edit</a>
                                    </div>
                                {% endif %}
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="7">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="card-footer">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    </div>
{% endblock %}
