{% extends 'base.html.twig' %}
{% block title %}Championship {{ championship.title }}{% endblock %}
{% block navBar %}
    {% include 'navBar/_navbar.html.twig' with {'page': 'championship'} %}
{% endblock %}
{% block body %}
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('home') }}">Home</a></li>
                <li class="breadcrumb-item">Championships</li>
                <li class="breadcrumb-item active" aria-current="page">{{ championship.title }}</li>
            </ol>
        </nav>
        <div class="card">
            <div class="card-header">
                Championship
            </div>

            <table class="table">
                <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ championship.id }}</td>
                </tr>
                <tr>
                    <th>Title</th>
                    <td>{{ championship.title }}</td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>{{ championship.description }}</td>
                </tr>
                <tr>
                    <th>Rule</th>
                    <td>{{ championship.championshipRule }}</td>
                </tr>
                <tr>
                    <th>DateCreation</th>
                    <td>{{ championship.dateCreation ? championship.dateCreation|date('Y-m-d H:i:s') : '' }}</td>
                </tr>
                <tr>
                    <th>DateUpdate</th>
                    <td>{{ championship.dateUpdate ? championship.dateUpdate|date('Y-m-d H:i:s') : '' }}</td>
                </tr>
                <tr>
                    <th>DateDeleted</th>
                    <td>{{ championship.dateDeleted ? championship.dateDeleted|date('Y-m-d H:i:s') : '' }}</td>
                </tr>
                </tbody>
            </table>
            <div class="card-footer">
                <div class="btn-group">
                    <a class="btn btn-info" href="{{ path('championship_index') }}">back to list</a>
                    <a class="btn btn-success" href="{{ path('championship_edit', {'id': championship.id}) }}">edit</a>
                </div>
                {{ include('championship/_delete_form.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}
