<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}The Grid{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{{ asset('dist/lib/bootstrap/css/bootstrap.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('dist/css/bootstrap_reset.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('dist/css/component.css') }}">
        {{ encore_entry_link_tags('app') }}
        {% block customCSS %}{% endblock %}
    {% endblock %}
</head>
<body>
{% block navBar %}{% endblock %}
{% block body %}{% endblock %}
{% block javascripts %}
    <script src="{{ asset('dist/lib/jquery/jquery.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="{{ asset('dist/lib/bootstrap/js/bootstrap.min.js') }}"></script>
    {{ encore_entry_script_tags('app') }}
    {% block customJS %}{% endblock %}
{% endblock %}
</body>
</html>
