{% extends 'base.html.twig' %}
{% block title %}Users{% endblock %}
{% block navBar %}
    {% include 'navBar/_navbar.html.twig' with {'page': 'user'} %}
{% endblock %}
{% block body %}
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('home') }}">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Users</li>
            </ol>
        </nav>
        <div class="card">
            <div class="card-header">
                Users
                <a class="btn btn-primary btn-sm float-right" href="{{ path('user_new') }}">+</a>
            </div>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Roles</th>
                        <th>Uuid</th>
                        <th>DateCreation</th>
                        <th>DateUpdate</th>
                        <th>DateDeleted</th>
                        <th>actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                        <tr>
                            <td>{{ user.id }}</td>
                            <td>{{ user.username }}</td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.roles ? user.roles|join(', ') : '' }}</td>
                            <td>{{ user.uuid }}</td>
                            <td>{{ user.dateCreation ? user.dateCreation|date('Y-m-d H:i:s') : '' }}</td>
                            <td>{{ user.dateUpdate ? user.dateUpdate|date('Y-m-d H:i:s') : '' }}</td>
                            <td>{{ user.dateDeleted ? user.dateDeleted|date('Y-m-d H:i:s') : '' }}</td>
                            <td>
                                <a href="{{ path('user_show', {'id': user.id}) }}">show</a>
                                <a href="{{ path('user_edit', {'id': user.id}) }}">edit</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="11">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
