{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}
{% block title %}New User{% endblock %}
{% block navBar %}
    {% include 'navBar/_navbar.html.twig' with {'page': 'user'} %}
{% endblock %}
{% block body %}
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('home') }}">Home</a></li>
                <li class="breadcrumb-item"><a href="{{ path('user_index') }}">Users</a></li>
                <li class="breadcrumb-item active" aria-current="page">New</li>
            </ol>
        </nav>
        <div class="row justify-content-center">
            <div class="col col-md-8">
                <div class="card">
                    <div class="card-header">
                        Create new User
                    </div>
                    <div class="card-body">
                        {{ include('user/_form.html.twig') }}
                        <a class="btn btn-light" href="{{ path('user_index') }}">back to list</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
