{% extends 'base.html.twig' %}
{% block title %}User {{ user }}{% endblock %}
{% block navBar %}
    {% include 'navBar/_navbar.html.twig' with {'page': 'user'} %}
{% endblock %}
{% block body %}
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('home') }}">Home</a></li>
                <li class="breadcrumb-item"><a href="{{ path('user_index') }}">Users</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ user }}</li>
            </ol>
        </nav>
        <div class="card">
            <div class="card-header">
                User
            </div>

            <table class="table">
                <tbody>
                <tr>
                    <th>#</th>
                    <td>{{ user.id }}</td>
                </tr>
                <tr>
                    <th>Username</th>
                    <td>{{ user.username }}</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>{{ user.email }}</td>
                </tr>
                <tr>
                    <th>Roles</th>
                    <td>{{ user.roles ? user.roles|join(', ') : '' }}</td>
                </tr>

                <tr>
                    <th>Uuid</th>
                    <td>{{ user.uuid }}</td>
                </tr>
                <tr>
                    <th>DateCreation</th>
                    <td>{{ user.dateCreation ? user.dateCreation|date('Y-m-d H:i:s') : '' }}</td>
                </tr>
                <tr>
                    <th>DateUpdate</th>
                    <td>{{ user.dateUpdate ? user.dateUpdate|date('Y-m-d H:i:s') : '' }}</td>
                </tr>
                <tr>
                    <th>DateDeleted</th>
                    <td>{{ user.dateDeleted ? user.dateDeleted|date('Y-m-d H:i:s') : '' }}</td>
                </tr>
                </tbody>
            </table>
            <div class="card-footer">
                <div class="btn-group">
                    <a class="btn btn-info" href="{{ path('user_index') }}">back to list</a>
                    <a class="btn btn-success" href="{{ path('user_edit', {'id': user.id}) }}">edit</a>
                </div>
                {{ include('user/_delete_form.html.twig') }}
            </div>
        </div>
    </div>


{% endblock %}
